body{
  font-family: 'Lora', serif;
  font-size: 100%;
  color: black;
  background-color: white;
  line-height: 1.63;
  margin:0;
}
#center{
  max-width:48em;
  margin:20px auto;
  padding:0 1.5rem;
  letter-spacing: 0.04em;
  line-height: 1.8em;
}
#title{
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: normal;
  margin-right: 35px;
}
h2{
  font-family: 'Lora', serif;
  font-weight: normal;
}
h3{
  font-family: 'Lora', serif;
  font-weight: normal;
}
p{
  display: inline;
}
input{
  font-family: 'Lora', serif;
  background-color: white;
  border-radius: 5px;
  border-style: double;
  border-color: white;
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}
a{
  color: inherit;
}
button{
  font-family: 'Lora', serif;
  background-color: white;
  border: none;
  color: inherit;
  display: inline-block;
  font-size:16px;
  font-weight: normal;
  margin-bottom: 15px;
  outline: none;
}
button:hover{
  font-style: italic;
}
button:focus{
	
}
#link{
  display: inline;
  float: right;
}
#separator{
  margin-top: 20px;
  margin-bottom: 30px;
  border-top: 1px dashed rgb(165, 165, 165);
  border-bottom: 0px dashed rgba(248, 231, 231, 0.26);
}
textarea:focus, input:focus{
    outline: none;
}
td{
  padding-left: 17px;
}
#subtext{
  color: black;
}
.chart{
  width: 400;
  height: 400;
}
