@import url(https://fonts.googleapis.com/css2?family=Cutive+Mono);
html{
	background: #000;
	overflow-y: scroll; 
}
body{
	color: #fff;
	font: 1em/1.6 'Cutive Mono', monospace;
}
#centered{
	position: absolute;
	left: 50%;
	transform: translate(-50%)
}
input{
	color: inherit;
	background-color: inherit;
	border: none;
	font-family: inherit;
	padding:0 .5em;
	text-transform: uppercase;
}
input:focus{
	background: #000;
	color: #999;
	outline:none;
}
span{
	display: block;
	color: #999;
}
kbd{
	font-family: 'Cutive Mono', monospace;
	border:1px solid #999;
	text-transform: uppercase;
	padding:0 .2em;
}
a{
	color: #ff3300;
}
.column{
	margin-top: 0px;
	margin-bottom: 0px;
	color: red;
}