body{
  font-family: "Libre Franklin","Helvetica Neue",helvetica,arial,sans-serif;
  font-size: 100%;
  color: rgb(217, 217, 217);
  background-color: rgb(30, 30, 30);
  line-height: 1.63;
  margin:0;
}
#center{
  max-width:48em;
  margin:20px auto;
  padding:0 1.5rem;
  letter-spacing: 0.04em;
  line-height: 1.8em;
}
input{
  background-color: rgb(26, 26, 26);
  border: none;
  color: #e5e5e5;
  font-size:20px;
}
#separator{
  margin-top: 20px;
  margin-bottom: 30px;
  border-top: 1px dashed rgb(165, 165, 165);
  border-bottom: 0px dashed rgba(248, 231, 231, 0.26);
}
textarea:focus, input:focus{
    outline: none;
}
td{
  padding-left: 10px;
}
#subtext{
  color: rgb(120, 120, 120);
}
